<p>Zach Burchill is currently getting a Ph.D. in <b>Brain and Cognitive Science</b> at the University of Rochester.</p>

<h2>My Jam</h2>
<p>I like solving problems, computers, and niche linguistics subfields.</p>
<p>My research right now is focused on accent adaptation, perceptual adaptation, and the connection between them.</p>

<h2>Apologies</h2>
<p>This site is very much a work in progress. I'll have new stuff up soon!</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-flask fa-lg main-list-item-icon"></span>
    <a href="https://scholar.google.com/citations?hl=en&user=u5G_A14AAAAJ">My Research</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-book fa-lg main-list-item-icon"></span>
    <a href="cv.pdf">Publications & CV</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="https://www.hlp.rochester.edu/people/">About Me</a>
  </li>
</ul>
