<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="apple-touch-icon" href="{{ site.compass.logo }}"/>
  <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64" href="{{ site.url }}/favicon.ico" />

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/normalize.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/nav.css">
  
  {% comment %}  This section loads the variables for the different styles {% endcomment %}
  {% comment %}  Checks all pages for the first one with type 'burchilldata' {% endcomment %}
  {% assign data_file = site.pages | where: "type", "burchilldata" | first %}
  {% if data_file and page.author and data_file.cognomen[page.author] %}
    {% assign post_author_name = data_file.cognomen[page.author] %}
    {% assign post_author_url = data_file.authorlinks[post_author_name] %}
    {% assign post_author_css = data_file.authorstyles[post_author_name] %}
    {% if post_author_css %}
      <link rel="stylesheet" href="{{ site.baseurl }}/assets/{{ post_author_css }}">
    {% else %} 
      <link rel="stylesheet" href="{{ site.baseurl }}/assets/default_style.css">
    {% endif %}
  {% else %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/default_style.css">
  {% endif %} 
  
  
  {% comment %} If the page has an author, that author should get credit {% endcomment %}
  {% if page.author %}
    {% assign reg_author = page.author %}
  {% else %}
    {% assign reg_author = site.compass.author %}
  {% endif %}
  
  {% if page.title %}
    <title>{{ page.title | strip_html }} &#8226; {{ reg_author }}</title>
  {% else %}
    <title>{{ reg_author }} &#8226; {{ site.compass.tagline | strip_html }}</title>
  {% endif %}
  
  {% if page.url == "/" %}
  	<link rel="stylesheet" href="{{ site.baseurl }}/assets/index.css">
  {% else %}
  	<link rel="stylesheet" href="{{ site.baseurl }}/assets/main.css">
  {% endif %}
  
  <meta name="author" content="{{ reg_author }}">
  
  {% comment %} If the post has a different author URL, that URL should be canonical {% endcomment %}
  {% if post_author_url %}
    <link rel="canonical" href="{{ post_author_url }}{{ page.url }}">
  {% else %}
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
  {% endif %}
  
  {% if page.url == "/" %}
    <meta name="description" content="{{ site.compass.tagline }}"/>
    <meta property="og:title" content="{{ site.compass.author }} &#8226; {{ site.compass.tagline }}"/>
    <meta property="og:description" content="{{ site.compass.description }}"/>
  {% else %}
    <meta name="description" content="{{ page.title | strip_html }}"/>
    <meta property="og:title" content="{{ page.title | strip_html }} &#8226; {{ reg_author }}"/>
    <meta property="og:description" content="{{ page.title | strip_html }}"/>
  {% endif %}
                                                                                                    
  <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
  <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}{{ site.compass.og_logo }}"/>
  <meta property="og:site_name" content="{{ site.compass.tagline }}">

  <!-- Constants --->
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
  
  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
  
  <!-- Mathjax -->
  <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>

  {% if site.disqus %}
    <!--Disqus comment counts-->
    <script id="dsq-count-scr" src="//{{ site.shortname }}.disqus.com/count.js" async></script>
  {% endif %}
  
  {% if site.compass.include_analytics %}
  {% include analytics.html %}
  {% endif %}
</head>
