<p>Zach Burchill is currently getting a Ph.D. in <b>Brain and Cognitive Science</b> at the University of Rochester.</p>

<h2>My Jam:</h2>
<p>I like solving problems, computational anything, and niche linguistics subfields.</p>
<p>My research right now is focused on how we understand people who talk differently, how we get better at it, and how that struggle ultimately shapes our language.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-flask fa-lg main-list-item-icon"></span>
    <a href="{{site.links.publications}}">My Research</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-book fa-lg main-list-item-icon"></span>
    <a href="{{site.links.cv}}">Publications & CV</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-history fa-lg main-list-item-icon"></span>
    <a href="{{site.links.blog}}">Blog/Projects</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="{{site.links.about_me}}">About Me</a>
  </li>
</ul>
