<p> is working towards a Master's degree in Computer Science at University of California, Irvine (and
looking for Summer '24 internships!)</p>

<h2>My Jam:</h2>
<p>I love solving problems and simplifying them through abstractions.</p>
<label for="extras-toggle">
<p>My work so far has been focused on Software engineering challenges such as microservice designs, cache management, and multithreading to name a few.
<a>More?</a>
</p></label>
<input id="extras-toggle" type="checkbox" checked />
<p id="extras">I have extensive working knowledge as a Software Engineer with a very good understanding of agile methodologies and software development lifecycle. In the past couple of years, I have worked on some very interesting problems like memory leakages, sso redirect problems, container memory management, message broking, asynchronous schedulers, network latency, caching strategies, and security vulnerabilities. Apart from these, my regular work day involves architecting microservices, API design and development, performance testing, and pipelining.
My previous research experience includes ML-powered Lab-on-Chip cytometry, a bit of distributed ML, geospatial image processing, and a bit of smart contracts in Solidity.</p>


<hr />

<ul class="fa-ul main-list">
<!--  <li class="main-list-item">-->
<!--    <span class="fa fa-history fa-lg main-list-item-icon"></span>-->
<!--    <a href="{{site.links.blog}}">Blog/Projects</a>-->
<!--  </li>-->

  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="{{site.links.about_me}}">About Me</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-flask fa-lg main-list-item-icon"></span>
    <a href="{{site.links.publications}}">My Research</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-book fa-lg main-list-item-icon"></span>
    <a href="{{site.links.industry_cv}}">Industry Resume</a> <a href="notclickable" style="pointer-events: none;">&</a> <a href="{{site.links.academic_cv}}">Academic CV</a>
</ul>
