<p>Dr. Zachary Burchill is a Data Scientist in Responsible AI at Meta</p>

<h2>My Jam:</h2>
<p>I like solving problems, computational <em>anything</em>, and niche linguistics subfields.</p>
<p>My research has focused on language processing, which I've aproached with everything from computational models to large-scale statistical simulations and even eye-tracking. I'm currently working in industry, focusing on making sure algorithms used in Big Tech are fair.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-history fa-lg main-list-item-icon"></span>
    <a href="{{site.links.blog}}">Blog/Projects</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="{{site.links.about_me}}">About Me</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-flask fa-lg main-list-item-icon"></span>
    <a href="{{site.links.publications}}">My Research</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-book fa-lg main-list-item-icon"></span>
    <a href="{{site.links.industry_cv}}">Industry Resume</a> <a href="notclickable" style="pointer-events: none;">&</a> <a href="{{site.links.academic_cv}}">Academic CV</a>
</ul>
