$text-color: #46433A !default;
$anchor-text-color: #CE534D !default;
$background-color: #F1EED9 !default;
$small-media-width: 480px;
$big-media-width: 768px;
$small-wrapper-width: 480px;
$big-wrapper-width: 700px;
$big-index-wrapper-width: 680px;
