---
---

@import 'general';

/*** ********************************************************** ***/
header.nav {
	padding: 10px 0;
}

.nav-container {
	margin: 0 auto;
	padding: 0 20px;
}

.nav-container > * {
    vertical-align: middle;
}

nav {
    display: block;
}

nav.main-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
    display: block;
}

nav.main-nav li, nav.main-nav a {
    display: inline-block;
}

nav.main-nav li {
    text-align: -webkit-match-parent;
    font-weight: bold;
}

nav.main-nav li a {
    padding: 10px;
}

.nav-container h1 {
    padding: 0;
    margin: 0;
}
.nav-container .logo-small {
    margin-right: 20;
}
.nav-container h1, .nav-container div.logo-container {
    display: inline-block;
}
.nav-container h1 a {
    text-decoration: none;
    color: $text-color;
}



