---
---
@import 'variables';


/*** wrapper div for both header and main ***/
.wrapper {
	margin-top: 10%;
}

/*** media queries ***/
/* X-Small devices (phones, 480px and up) */
@media (min-width: $small-media-width) {
	/* wrapper stays 480px wide past 480px wide and is kept centered */
	.wrapper {
		width: $small-wrapper-width;
		margin: 7% auto 0 auto;
	}
}

/* All other devices (768px and up) */
@media (min-width: $big-media-width) {
	/* past 768px the layout is changed and the wrapper has a fixed width of 680px
	to accomodate both the header column and the content column */
	.wrapper {
		width: $big-index-wrapper-width;
	}

	/* the header column stays left and has a dynamic width with all contents
	aligned right */
	header {
		float: left;
		width: 46%;
		text-align: right;
	}

	.author-container h1,
	.logo-container,
	.tagline-container p {
		text-align: right;
	}

	main {
		width: 46%;
		margin-left: 54%;
		padding: 0;
	}
}
