---
---
.post-title {
	margin-bottom: 0;
	text-align: left;
}
.post-date {
	margin-top: 0;
	margin-left: 2em
}

.post-date ~  > .posts .commentcount {
	display: inline-block;
	margin: 0;
	font-size: 20;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}


/*** To prevent footnotes appearing in the sneak-peek section on the blog page ***/
div.posts div.footnotes {
	display: none;
}




/*** I think blog posts look better justified ***/
body {
	text-align: justify;	
}


/*** wrapper div for both header and main ***/
.wrapper {
	margin-top: 5%;
	padding: 0 20px;
}

/*** media queries ***/
/* X-Small devices (phones, 480px and up) */
@media (min-width: 480px) {
	/* wrapper stays 480px wide past 480px wide and is kept centered */
	.wrapper {
		width: 480px;
		margin: 5% auto 0 auto;
	}
}

/* All other devices (768px and up) */
@media (min-width: 768px) {
	/* past 768px the layout is changed and the wrapper has a fixed width of 680px
	to accomodate both the header column and the content column */
	.wrapper {
		width: 700px;
	}

	/* the header column stays left and has a dynamic width with all contents
	aligned right */
	/*
	header {
		float: left;
		width: 46%;
		text-align: right;
	}
	*/
	/*
	.author-container h1,
	.logo-container,
	.tagline-container p {
		text-align: right;
	}

	main {
		width: 46%;
		margin-left: 54%;
		padding: 0;
	}
	*/
}

