---
layout: page
---


<html>
  {% include head.html %}
  <body>
    {% include nav_header.html %}
    <div class="wrapper" id="page">
        <h1 style="text-align:center">{{ page.title }}</h1>
        {{ content }}
    </div>
    

      {% if site.twitter %}
      {% include twitter_button.html %}
      {% endif %}

      {% if site.facebook %}
      {% include facebook_button.html %}
      {% endif %}

      {% if site.disqus %}
      {% include disqus_comments.html %}
      {% endif %}
      
  </body>
</html>
