
<html>
  {% include head.html %}
  <body>
    {% include nav_header.html %}
    <div class="wrapper" id="blog">
      <div class="post">
        <h1 class="post-title">{{ page.title }}</h1>
        <span class="post-date">{{ page.date | date_to_string }}</span> {% if page.author %}&mdash; 
        <span class="post-author"><a href="{{ post_author_url }}">{{ page.author }}</a></span> {% endif %}
        {{ content }}
      </div>

      <div class="related">
        <h2>Recent Posts</h2>
        <ul class="related-posts">
          {% for post in site.related_posts limit:3 %}
            <li>
              <h3>
                <a href="{{ post.url }}">
                  {{ post.title }}
                  <small>{{ post.date | date_to_string }}</small>
                </a>
              </h3>
            </li>
          {% endfor %}
        </ul>
      </div>

      {% if site.twitter %}
      {% include twitter_button.html %}
      {% endif %}

      {% if site.facebook %}
      {% include facebook_button.html %}
      {% endif %}

      {% if site.disqus %}
      {% include disqus_comments.html %}
      {% endif %}
      {% include footer.html %}
    </div>
    
  </body>
</html>
