---
layout: test
---

<html>
  {% include proto_type.html %}
  <body>
    <header class="nav">
      <div class="nav-container">
        <nav class="main-nav">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog.html">Blog</a></li>
            <li><a href="/blog.html">About Me</a></li>
          </ul>
        </nav>
        <div class="logo-container"><a class="logo-small" href="{{ page.baseurl }}" style="background-image: url('{{ site.baseurl }}{{ site.compass.logo }}')"></a></div>
 <h1><a href="/">{{ site.compass.author }}</a></h1>
      </div>
    </header>
    
    <div class="content">
    <div class="wrapper">
      <header>
          {% if site.compass.author %}
          <div class="author-container"><h1>{{ site.compass.author }}</h1></div>
          {% endif %}

          {% if site.compass.logo %}
          <div class="logo-container">
            <a class="logo" href="{{ page.baseurl }}" style="background-image: url('{{ site.baseurl }}{{ site.compass.logo }}')"></a>
          </div>
          {% endif %}

          {% if site.compass.tagline %}
          <div class="tagline-container"><p>{{ site.compass.tagline }}</p></div>
          {% endif %}
      </header>
      <main>
        <h2 class="spacing">{{ page.title }}</h2>
        <p>{{ page.date | date: '%B %d, %Y' }}</p>
        <p>AAAAAAAAAA</p>
        <div class="content">
           {{ content }}
        </div>
      </main>
     </div>
    </div>


  </body>
</html>
